<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<Product Id="*" UpgradeCode="7B4632B1-AB42-4AB1-AA4A-719A30875A1C" Language="1033"
                  Manufacturer="Bob -- K6RWY" Name="SCCoFix"
                  Version="!(bind.fileVersion.SCCoFix.cmp)"
                  >

  <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"
                      Manufacturer="Bob -- K6RWY" Description="Installs SCCoFix"
                      Comments="Copyright (c) Bob -- K6RWY"
                      />

  <MajorUpgrade Schedule="afterInstallInitialize"
                                AllowDowngrades="no"   IgnoreRemoveFailure="no"   AllowSameVersionUpgrades="no"
                                DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

  <MediaTemplate EmbedCab="yes" />

  <UI Id="My_InstallDir.ui">
    <UIRef Id="WixUI_InstallDir" />
    <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">
      NOT Installed
    </Publish>
    <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">
      1
    </Publish>
  </UI>

  <WixVariable Id="WixUIDialogBmp" Value="C:\Program Files (x86)\WixApp\dialog.bmp"/>
  <WixVariable Id="WixUIBannerBmp" Value="C:\Program Files (x86)\WixApp\banner.bmp"/>

  <Icon     Id="SCCoFix01Icon.ico"
                            SourceFile="$(var.SolutionDir)..\SCCoFix.prj\res\SCCoFix.ico"/>
  <Property Id="ARPPRODUCTICON"  Value="SCCoFix01Icon.ico" />

  <Feature Id="ProductFeatures" Title="Main Product" Level="1" >
    <ComponentGroupRef Id="SCCoFix.ftr"/>
    <ComponentGroupRef Id="Uninstall_SCCoFix.ftr"/>
  </Feature>
</Product>

<Fragment>
<ComponentGroup Id="SCCoFix.ftr">
  <ComponentRef Id="SCCoFix.cmp"/>
  <ComponentRef Id="Help.cmp"/>
</ComponentGroup>
<ComponentGroup Id="Uninstall_SCCoFix.ftr">
  <ComponentRef Id="Uninstall_SCCoFix.cmp"/>
</ComponentGroup>
</Fragment>

<!--Directory structure-->
<Fragment>
  <Directory Id="TARGETDIR" Name="SourceDir">
    <Directory Id="ProgramFilesFolder">
      <Directory Id="SCCoFix.pff" Name="SCCoFix" />
    </Directory>

    <Directory Id="ProgramMenuFolder">
      <Directory Id="SCCoFix.pmf" Name="SCCoFix" />
    </Directory>

    <Directory Id="DesktopFolder" />

  </Directory>

  <Property Id="ApplicationFolderName" Value="SCCoFix" />
  <Property Id="WIXUI_INSTALLDIR"      Value="SCCoFix.pff"/>
  <Property Id="WixAppFolder"          Value="WixPerMachineFolder" />
</Fragment>

<Fragment>

  <Component Id="SCCoFix.cmp"  Guid="AF78D1E1-43F3-45D1-943C-AC7A8352626B"
                                                                          Directory="SCCoFix.pff">
    <File Id="SCCoFix.cmp" Source="$(var.SolutionDir)..\Release\SCCoFix.exe" KeyPath="yes"/>

    <Shortcut Id               = "SCCoFix.shc"
              Name             = "SCCoFix"
              Advertise        = "yes"
              Directory        = "SCCoFix.pmf"
              WorkingDirectory = "SCCoFix.pff"
              Icon             = "SCCoFix01Icon.ico"
              />

    <Shortcut Id               = "SCCoFix.dsk"
              Name             = "SCCoFix"
              Advertise        = "yes"
              Directory        = "DesktopFolder"
              WorkingDirectory = "SCCoFix.pff"
              Icon             = "SCCoFix01Icon.ico"
              />
    <Condition>
      <![CDATA[Installed OR VersionNT >= 601]]>
    </Condition>
  </Component>

  <Component Id="Help.cmp"  Guid="DF80C24D-F391-4C18-8867-4BD8ED9D71F0" Directory="SCCoFix.pff">
    <File Id="Help.cmp" Source="$(var.SolutionDir)..\Release\SCCoFix.chm" KeyPath="yes"/>
  </Component>

</Fragment>

<Fragment>

  <Component Id="Uninstall_SCCoFix.cmp"
                              Guid="C3B2862D-DDE9-4D00-88AE-8BD712A20680" Directory="SCCoFix.pmf">

    <Shortcut Id               = "UninstallSCCoFix.shc"
              Name             = "Uninstall SCCoFix"
              Description      = "Uninstalls SCCoFix"
              Target           = "[System64Folder]msiexec.exe"
              Arguments        = "/x [ProductCode]"
              Icon             = "SCCoFix01Icon.ico"
              />
    <RemoveFolder Id="SCCoFix.uni" Directory="SCCoFix.pmf" On="uninstall"/>
    <RegistryValue Root="HKCU" Key="Software\Uninstall_SCCoFix.cmp" Name="installed"
                   Type="integer" Value="1" KeyPath="yes"/>
  </Component>

</Fragment>

</Wix>
